$inside-padding: 17px;
$primary-color: #0073aa;
$bg-color: rgba($primary-color,0.05);
#wpcampus-social-mb {

	*:first-child {
		margin-top: 0;
	}

	*:last-child {
		margin-bottom: 0;
	}

	.inside {
		background: #fff;
		margin: 0;
		padding: 0 $inside-padding;
	}

	.wpcampus-social-pre {
		margin: 0 ( 0 - $inside-padding );
		padding: 20px $inside-padding;
	}

	h3 {
		color: $primary-color;
		margin: 15px 0 8px 0;
	}

	textarea {
		display: block;
		width: 100%;
		padding: 10px;
	}

	.wpcampus-social-button {
		display: block;
		background: $primary-color;
		color: #fff;
		font-size: 110%;
		font-weight: 600;
		text-align: center;
		padding: 15px 20px;
		margin: 5px 0 0 0;
	}

	.wpcampus-social-preview-wrapper {
		margin: 0 ( 0 - $inside-padding );
		padding: 20px $inside-padding;
		border-top: 1px solid #eee;

		.wpcampus-social-preview {
			padding: 20px;
			margin: 5px 0 0 0;
		}

		&.twitter {

			.wpcampus-social-preview {
				background: $bg-color; //#ebf5f9;
			}
		}

		&.facebook {

			.wpcampus-social-preview {
				background: $bg-color; //#f0f2f7;
			}
		}
	}
}
